.TableStyle table, th, td{
    border: 1px solid white;
    border-collapse:collapse ;
    font-size: large;
    padding: 5px;
    

}

.TableStyle th{
    background-color: black;
    color: white;
}

.TableStyle td{
    width: auto;
    white-space: nowrap;
}

.TableStyle tbody tr:nth-child(odd) {
    background-color: #808080; /* Definer farve for hver anden række */
}

.TableStyle tbody tr{
    background-color:#C4C4C4;
}
